<body>
    <nav>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/240px-CSS3_logo_and_wordmark.svg.png">
      <a href="/posts" <%- title === 'All Posts' ? 'class="active"' : '' %>>All Posts</a>
      <% if (1 === 1) { %>
        <a href="/posts/new" <%- title === 'New Post' ? 'class="active"' : '' %>>Add Post</a>
        <a href="/user" <%- title === 'User Profile' ? 'class="active"' : '' %>>Profile</a>
        <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
    </nav>
