<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<label> About </label>

<form action="/user/editprofile" method="POST">

        <label>About:</label>
        <input type="textarea" name="about">
        <input type="submit" value="Save About">


</form>
</main>

<%- include('../partials/footer') %>