<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

    <div class="editprofilediv">
<form class="profileform" action="/user/editprofile" method="POST">

        <label>About:</label>
        <br>
        <input class="textarea" type="textarea" name="about"  rows="4" cols="50">
        <br>
        <input type="submit" value="Save About">


</form>
</div>
</main>

<%- include('../partials/footer') %>