<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<label> About </label>

<form>
    <div class="form-group">
        <label for="exampleFormControlTextarea1"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

</form>

<%- include('../partials/footer') %>