<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Yooooo </h1>

<main>
    <form class="profileform" action="/posts/<%= post._id %>?_method=PUT" method="POST">
    
            <label>Edit Post:</label>
            <br>
            <input class="textarea" type="textarea" name="postText">
            <br>
            <input type="submit" value="Save Post">
    
    
    </form>
    </main>
<%- include('../partials/footer') %>