<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
    <div class="b-example-divider"></div>
<form class="profileform" action="/posts" method="POST">
    <label>New Post Text:</label>
    <br>
    <input class="textarea" type="textarea" name="postText">
    <br>
    <input type="submit" value="Add Post">
</form>
</main>>


<%- include('../partials/footer') %>