<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
    <div class="b-example-divider"></div>
<form action="/posts" method="POST">
    <label>New Post Text:</label>
    <input type="textarea" name="postText">
    <input type="submit" value="Add Post">
</form>
</main>>


<%- include('../partials/footer') %>