<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<form id="new-form" action="/posts" method="POST">
    <label>New Post Text:</label>
    <input type="text" name="postText">
    <input type="submit" value="Add Post">
</form>


<%- include('../partials/footer') %>